body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    border: 1px solid black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:var(--beige-transparent);  */
    padding: 30px 20px; 
  }
  
  nav a {
    text-decoration: none;
    color: black;
    background-color: gray;
    padding:10px;
    margin:auto 5px;
    width:150px;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
  }
  
  nav a:hover {
    text-decoration: none;
    color: var(--beige);
  }

  input{
    margin-bottom: 5px;
  }